.vscode/**
.vscode-test/**
out/**
lib/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.editorconfig
**/license-config.json
**/*.map
**/*.ts
**/*.vsix
uitests/**
test-workspace/**
