name: Build and Deploy
on:
  push:
    branches:
      - main
      - 'release/*'
    tags:
      - 'v[0-9]+.*'
  pull_request:
    branches:
      - '**'

permissions:
  actions: read
  contents: write
  
jobs:
  build:
    environment: ${{ startsWith(github.ref, 'refs/tags/v') && 'deployments' || '' }}
    permissions:
      id-token: write # only used for npm publishing
      actions: read
      contents: write
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'maven'

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          cache: 'npm'
          cache-dependency-path: rascal-vscode-extension/package-lock.json
          registry-url: 'https://registry.npmjs.org'

      - name: Package & compile rascal-lsp
        working-directory: ./rascal-lsp
        run: mvn -B clean verify -DskipTests
        env:
          MAVEN_OPTS: "-Xmx6G"

      - name: Package & compile extension 
        working-directory: ./rascal-vscode-extension
        run: |
          npm ci
          npm run license-check
          npm run esbuild
          npm run lint 

      - name: package extension
        working-directory: rascal-vscode-extension
        run: |
          npm run lsp4j:package
          npx vsce package

      - name: upload final vsix 
        uses: actions/upload-artifact@v5
        with:
          path: rascal-vscode-extension/*.vsix
          retention-days: 20

      - name: Prepare Draft Release
        uses: softprops/action-gh-release@v2
        continue-on-error: true
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          draft: true
          files: ${{ steps.publishToOpenVSX.outputs.vsixPath }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: rewrite package.json & readme for NPM package
        working-directory: rascal-vscode-extension
        run: |
          node src/rewritePackageForNPMPublish.js
          rm -rf assets/images/ 
          rm -rf lib/test
          rm -rf src/test
          mv README-lib.md README.md

      - name: Test compile for NPM
        if: startsWith(github.ref, 'refs/tags/v') != true
        working-directory: rascal-vscode-extension
        run: npm run compile

      - name: publish to NPM
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: rascal-vscode-extension
        run: npm publish --provenance --access=public
